:root {
  --color-page-bg: #f2f2f2;
  --color-simulation-text: #020056;

  --font-family-base: Nunito, sans-serif;

  --title-xl-size: 40px;
  --title-xl-line-height: 100%;
  --title-xl-letter-spacing: 0%;
}
